.side {
    display: flex;  
    margin: 12px;  
}

section {
    width: 600px;
}

.material-symbols-outlined {
    color: darkolivegreen;
    margin: 0;
    padding: 0;
}

input {
    margin: 0 5px;
    height: 20px;
}
/* 
.cardPayment,
.invoicePayment {
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.paymentOpen {
  visibility: visible;
  height: auto;
  width: auto;
} */